:host {
	grid-area: contents;
	grid-template-columns: minmax(100%, 100%);
	display: grid;
	justify-items: center;
	padding: 0em 1em;
	width: 90%;
	overflow-x: auto;
}

div.search-container,
div.player-search-results,
div.player-season-stats-results {
	width: 100%;
}

button.btn-search,
button.btn-reset-search,
button.btn-clear-search-results {
	display: block;
	width: 100%;
	border-radius: 8px;
	color: white;
	background-color: slateblue;
	border-color: #4b3abb;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	border: solid slateblue;
	padding-bottom: 1em;
}

table.player-season-stats-table {
	table-layout: auto;
}

.season-stats-categories th {
	text-align: center;
}

table.player-season-stats-table td {
	text-align: right;
}

div.overflow-container {
	overflow-x: auto;
	max-width: 100%;
}

thead {
	background-color: slateblue;
	color: white;
}

th {
	text-align: start;
	width: auto;
}

th,
td {
	padding: 0.25em;
}

td.text-align-right {
	text-align: right;
}

tbody > tr:nth-child(odd) {
	background-color: whitesmoke;
}

tbody > tr:nth-child(even) {
	background-color: lightgray;
}
