:host {
    /* grid-area: contents; */
    padding: 0em 1em;
    width: 32em;
}

.login {
    width: 600px;
}

.submit {
    width: 100%;
}

label {
    /* display: inline; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}

input[type='email'],
input[type='password'] {
    width: 100%;
}

button.btn-new-account {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
	border-radius: 8px;
	color: white;
	background-color: slateblue;
	border-color: #4b3abb;
}