<div class='login-container'>
	<h2>Login Information</h2>

	<form #form='ngForm' (ngSubmit)='submitLogin(form.value)'>
		<label>
			Email Address
			<input type='email' name='email' ngModel id='inputEmail'>
		</label>

		<label>
			Password
			<input type='password' name='password' ngModel id='inputPassword'>
		</label>

		<!-- <label class='remember'>
			<input type='checkbox' name='remember' ngModel id='rememberCheck'>
			Remember Me
		</label> -->

		<button type='submit' class='btn-login'>Login</button>

	</form>

	<p><a href='/create-account'>Create an account</a></p>
	<!-- <p><a href='#'>Forgot password</a></p> -->
</div>