<div class='login-container'>
  <h2>Login Information</h2>

  <form #form='ngForm' (ngSubmit)='submitLogin(form.value)'>
    <p>Email Address</p>
    <input type='email' name='email' ngModel class='form-control' id='inputEmail' aria-describedby='emailHelp'>

    <p>Password</p>
    <input type='password' name='password' ngModel class='form-control' id='inputPassword'>

    <label>
      <input class="rememberCheck" type='checkbox' name='remember' ngModel class='form-check-input' id='rememberCheck'>
      <p>Remember Me</p>
    </label>

    <button type='submit' class='btn btn-primary submit'>Login</button>

  </form>

  <p><a href='#'>Create an account</a></p>
  <p><a href='#'>Forgot password</a></p>
</div>
