@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
    width: 100%;
    height: 100%;
}

/* html,
body {
    height: 100%;
    position: relative;
}

header {
    width: 100%;
}

main {
    display: block;
    min-height: 100%;
    padding-top: 50px;
} */