<div class="search-container">
	<h2>Game Search</h2>

	<form class="game-search" #form="ngForm" (ngSubmit)="submitGameQuery()">
		<div class="game-search-options">
			<label for="date">
				<p>Date</p>
				<input type="date" [(ngModel)]="dateGame" (ngModelChange)="updateGameDate($event)" id="date" name="date" />
			</label>

			<label for="team">
				<p>Team</p>
				<select [(ngModel)]="gameQueryOptions.Team" id="team" name="team">
					<option [ngValue]="null">Team 1</option>
					<option *ngFor="let team of teams" [ngValue]="team.Abbreviation">{{ team.Name }}</option>
				</select>
			</label>

			<label for="opponent">
				<p>Opponent</p>
				<select [(ngModel)]="gameQueryOptions.Opponent" id="opponent" name="opponent">
					<option [ngValue]="null">Team 2</option>
					<option *ngFor="let team of teams" [ngValue]="team.Abbreviation">{{ team.Name }}</option>
				</select>
			</label>

			<label for="totalYards">
				<p>Total Yards</p>
				<input type="number" [(ngModel)]="gameQueryOptions.TotalYards" id="totalYards" name="totalYards" />
			</label>

			<label for="passingYards">
				<p>Passing Yards</p>
				<input type="number" [(ngModel)]="gameQueryOptions.PassingYards" id="passingYards" name="passingYards" />
			</label>

			<label for="runningYards">
				<p>Rushing Yards</p>
				<input type="number" [(ngModel)]="gameQueryOptions.RunningYards" id="runningYards" name="runningYards" />
			</label>

			<label for="turnovers">
				<p>Turnovers</p>
				<input type="number" [(ngModel)]="gameQueryOptions.Turnovers" id="turnovers" name="turnovers" />
			</label>

			<label for="penalties">
				<p>Penalties</p>
				<input type="number" [(ngModel)]="gameQueryOptions.Penalites" id="penalties" name="penalties" />
			</label>

			<label for="penaltyYards">
				<p>Penalty Yards</p>
				<input type="number" [(ngModel)]="gameQueryOptions.PenaltyYards" id="penaltyYards" name="penaltyYards" />
			</label>

			<label for="punts">
				<p>Punts</p>
				<input type="number" [(ngModel)]="gameQueryOptions.punts" id="punts" name="punts" />
			</label>

			<label for="puntYards">
				<p>Punt Yards</p>
				<input type="number" [(ngModel)]="gameQueryOptions.PuntYards" id="puntYards" name="puntYards" />
			</label>

			<label for="puntAverage">
				<p>Average Punt Distance</p>
				<input type="number" [(ngModel)]="gameQueryOptions.PuntAverage" id="puntAverage" name="puntAverage" />
			</label>

			<label for="totfd">
				<p>Total 1st Downs</p>
				<input type="number" [(ngModel)]="gameQueryOptions.totfd" id="totfd" name="totfd" />
			</label>
		</div>

		<button type="submit" class="btn-search">Search</button>
		<button type="button" class="btn-reset-search" (click)="resetGameFields()">Reset Search</button>
	</form>
</div>

<div class="game-search-results" *ngIf="games | async; let games; else: loading">
	<h3>Results</h3>
	<table *ngIf="games.length != 0" class="games-data">
		<thead>
			<th>ID</th>
			<th>Team</th>
			<th>Opponent</th>
			<th>Total Yards</th>
			<th>Passing Yards</th>
			<th>Rushing Yards</th>
			<th>Turnovers</th>
			<th>Penalties</th>
			<th>Penalty Yards</th>
			<th>Punts</th>
			<th>Punt Yards</th>
			<th>Average Punt Distance</th>
			<th>Total 1st Downs</th>
		</thead>
		<tbody>
			<tr *ngFor="let game of games">
				<td>{{ game.Gameid }}</td>
				<td>{{ game.Team }}</td>
				<td>{{ game.Opponent }}</td>
				<td class="text-align-right">{{ game.TotalYards }}</td>
				<td class="text-align-right">{{ game.PassingYards }}</td>
				<td class="text-align-right">{{ game.RunningYards }}</td>
				<td class="text-align-right">{{ game.Turnovers }}</td>
				<td class="text-align-right">{{ game.Penalties }}</td>
				<td class="text-align-right">{{ game.PenaltyYards }}</td>
				<td class="text-align-right">{{ game.punts }}</td>
				<td class="text-align-right">{{ game.PuntYards }}</td>
				<td class="text-align-right">{{ game.PuntAverage }}</td>
				<td class="text-align-right">{{ game.totfd }}</td>
			</tr>
		</tbody>
	</table>
	<div *ngIf="games.length === 0">No results</div>
	<button type="button" class="btn-clear-search-results" (click)="clearGameSearchResults()">Clear Search Results</button>
</div>
