<div class='search-container'>
	<h2 class='text-center'>Game Search</h2>

	<form #form='ngForm' (ngSubmit)='submitQuery(form.value)'>
		<label for='inputDate'>Date</label>
		<input type='date' name='date' ngModel class='form-control' id='inputDate' aria-describedby='inputDate'>

		<label for='inputTeam1'>Team 1</label>
		<select ngModel name='Team1'>
			<option *ngFor='let team of teams' [ngValue]='team'>{{ team.Name }}</option>
		</select>

		<label for='inputTeam2'>Team 2</label>
		<select ngModel name='Team2'>
			<option *ngFor='let team of teams' [ngValue]='team'>{{ team.Name }}</option>
		</select>

		<button type='submit' class='btn-search'>Search</button>

	</form>
</div>


<div *ngIf="games | async; let games; else loading">
	<div *ngFor="let game of games">
		<p>Game ID: {{ game.Gameid }}</p>
		<p>Team: {{ game.Team }}</p>
		<p>Opponent: {{ game.Opponent }}</p>
		<p>Turnovers: {{ game.Turnovers }}</p>
		<p>Total Yards: {{ game.TotalYards }}</p>
		<p>Passing Yards: {{ game.PassingYards }}</p>
		<p>Running Yards: {{ game.RunningYards }}</p>
		<p>Penalty Yards: {{ game.PenaltyYards }}</p>
		<p>Punts: {{ game.punts}}</p>
		<p>Punt Average: {{ game.PuntAverage }}</p>
		<p>Punt Yards: {{ game.PuntYards}}</p>
		<p>Penalties: {{ game.Penalties }}</p>
		<p>Total First Downs: {{ game.totfd }}</p>
		<br>
	</div>
	<div *ngIf="games.length === 0">No results</div>
</div>